.appStatus {
	line-height: 35px !important;
	font-size: 20px !important;
}

.statusLabel {
	background: lightgray !important;
	color: #686868 !important;
	float: right;
}

.song {
	font-size: 14px !important;
}

@media(max-width: 767px) {
	.appStatus {
		font-size: 14px !important;
	}

	.song {
		font-size: 8px !important;
	}
}